*{
    box-sizing: border-box;
}

body{
    color: white;
    background-color: rgb(58, 56, 56);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
   
}

.head{
    float: left; 
   padding-left: 2%;
}
.head .chair{
   float: left;
   
}
.form .chats{
    width: 70%;
    height: 40px;
    background-color: whitesmoke;
    color: black;
  
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 9px;
    border: none;
    border-bottom: 3px solid darkslateblue;
}
.form .chat{
    width: 25%;
    background-color: whitesmoke;
    height: 40px;
    color: black;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 19px;
    border: none;
    border-bottom: 3px solid darkslateblue;
}
.form .chat option{
    width: 40px;
    height: 40px;
}
.head{
    left: 0;
    top: 0;
    
    height: 100%;
    width: 500px;
    background-color: rgb(20, 20, 20);
}
hr{
    width: 80%;
}
span{
    color: gray;
}
.head{
    overflow-y: scroll;
}
.contact img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.contact h4{
    padding-top: 1px;
    padding-left: 70px;
}

.choke a{
    text-decoration: none;
    color: white;
}
.choke .contact span{
    text-decoration-color: transparent;
}
*{
    box-sizing: border-box;
}
body{
    color: white;
    background-color: rgb(58, 56, 56);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif   ; 
    
    ;
    
   
}

.head{
    float: left; 
   padding-left: 2%;
   
}
.head .chair{
   float: left;
   
}
.form .chats{
    width: 70%;
    height: 40px;
    background-color: whitesmoke;
    color: black;
  
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 9px;
    border: none;
    border-bottom: 2px solid lightgreen;
}
.form .chat{
    width: 25%;
    background-color: whitesmoke;
    height: 40px;
    color: black;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 19px;
    border: none;
    border-bottom: 2px solid lightgreen;
}
.form .chat option{
    width: 40px;
    height: 40px;
}
.head{
    left: 0;
    top: 0;
    margin-left: 8%;
    position: fixed;
    height: 100%;
    width: 515px;
    background-color: rgb(20, 20, 20);
}
.chat-mate{
    background-color: gray;
    padding: 7px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-left: 46%;
}
.chat-mate img{
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
   
}
.chat-mate h4{
    float: left;
}
hr{
    width: 80%;
}
span{
    color: gray;
}
.contact img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    margin-left: 8px;
    
}
.contact h4{
    padding-top: 1px;
    padding-left: 70px;
}
.contact{
    border: 1px solid darkslateblue;
    border-radius: 5px;
    width: 95%;
    margin-top: 20px;
}
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.contact:hover{
    background-color: rgb(51, 46, 46);
}
.contact .migos:hover{
    margin-left: 10px;
    transition: 0.1s ease-in-out;
}
.choke a{
    text-decoration: none;
    color: white;
}
.choke .contact span{
    text-decoration-color: transparent;
}
.backward{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: none;
}
.mainbody{
    
    background-image: url(Images/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 50%;
    margin-right: -20px;
}
.mom{
    visibility: hidden;
    font-weight: lighter;
}
.contact:hover .mom{
    visibility: visible;
    transition: 1s;
}
.mainbody h1{
    text-align: center;
    font-size: 40px;
}
.mainbody p{
    font-size: 15px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 25px;
    float: left;
    color: black;
    border-radius:  0px 50px 50px 50px;
}
.sidebar2{
    background-color: darkslategray;
    color: white;
    height: 100%;
    position: fixed;
    padding: 0px;
    float: left;
    left: 0;
    top: 0;
    width: 120px;
   padding-top: 0%;
}
.sidebar2 li {
    list-style: none;
}
.sidebar2 img{
    list-style: none;
    margin-top: 30px;
    margin-left: 35px;
}
.sticky{
    position: sticky;
}
.sidebar2 img:hover{
    border: 4px solid gray
}
.kind{
    font-size: 15px;
    background-color: darkslateblue;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    float: right;
    color: white;
    border-radius: 30px 30px 0px 30px;
    font-weight: lighter;
}
#kind2{
    font-size: 15px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    float: left;
    color: black;
    border-radius: 0px 30px 30px 30px;
}
.sidebar2 ul{
    
    margin-top: 0%;
    padding: 0px;
    padding-left: 45px;
}
.sidebar2 ul li{
    list-style: none;
    width: 20%;
}
.sidebar2 ul li a{
    text-decoration: none;
    color: white;
    padding-left: 2px;
    left: 0;
}
.keyboards form .keyboard-main{
    width: 500px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    padding-right: 10px;
    background-color: white;
    padding-left: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.send-button{
    width: 100px;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: darkslateblue;
    color: white;
    text-transform: uppercase;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: darkslateblue;
}

.keyboard h4{
    font-size: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
}
.keyboards{
    
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 600px;
    margin-left: 6%;
}

.sender{
    background-color: transparent;
    height: 50px;
    width: 80px;
    border-bottom: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.sender a{
    text-decoration: none;
}

.sidebar2{
    background-color: darkslategray;
    color: white;
    height: 100%;
    position: fixed;
    float: left;
    left: 0;
    top: 0;
    width: 120px;
   
}
.sidebar2 ul li{
    list-style: none;
    width: 30%;
}
.sidebar2 ul li a{
    text-decoration: none;
    color: white;
    padding-left: 2px;
    left: 0;
    
}
html{
    scroll-behavior: smooth;
}
.help{
    border-radius: 50% 0px 50% 50%;
    background-color: white;
    color:darkslategrey;
    float: right;
    text-align: center;
    font-size: 15px;
    width: 15%;
    height: 40px;
    padding-top: 13px;
    font-weight: bold;
   
}
.keyboard{
    background-color: black;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 46%;
    justify-content: center;
    text-align: center;
}
@media screen and (max-width: 800px){
    .mainbody{
        display: none;
    }
    .head{
        margin-left: 120px;
        width: 562px;
    }
    .semi-head{
        position: fixed;
        width: 555px;
        background-color: rgb(20, 20, 20);
        margin-left: -15px;
        padding-right: 20px;
        box-shadow: 0px 5px 20px rgb(37, 37, 37);
    }
}
@media screen and (max-width: 800px){
    .mainbody{
        display: block;
        margin-left: -500px;
    }
    .chat-mate{
        margin-left: 130px;
    }
    .backward{
        display: block;
    }
    .head{
        margin-left: 129px;
        width: 562px;
    }
    .semi-head{
        display: none;
    }
.head{
    display: none;
}
    .contact{
       display: none;
    }
    .kind{
        font-size: 13px;
        background-color: darkslateblue;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 20px;
        float: left;
        width: 300px;
        margin-left: 520px;
        color: white;
        border-radius: 30px 0px 30px 30px;
}
#kind2{
    font-size: 13px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    float: left;
    width: 300px;
    margin-left: 290px;
    color: black;
    border-radius: 0px 30px 30px 30px;
}
.keyboard{
    margin-left: 80px;
}
.keyboard input{
    width: 10px;
}
.chat-mate{
    margin-left:120px;
}
.keyboard{
    width: 600px;
}
.keyboards input{
    width: 10px;
}
.keyboards form .keyboard-main{
    width: 400px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    padding-right: 10px;
    background-color: white;
    padding-left: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: -70px;
}
.send-button{
    width: 100px;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: darkslateblue;
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
}
}



